<nav class="navbar navbar-light bg-primary">
    <a class="navbar-brand" href="/"><img src="/imgs/icons8-home-30.png"></a>
    <a class="navbar-brand" href="/perguntas"><img src="/imgs/icons8-question-64.png" width="32"></a>
</nav>